@import 'tailwindcss' source('../../src');
@plugin "@tailwindcss/typography";

@theme {
  /* Typefaces */
  --font-headings: 'Albert Sans Variable', ui-sans-serif, system-ui, sans-serif;
  --font-article: 'Plus Jakarta Sans Variable', ui-sans-serif, sans-serif;

  /* Colors */
  --color-brand-background: oklch(1 0 0);
  --color-brand-text: oklch(0 0 0);
  --color-brand-muted: oklch(0.5795 0 0);
  --color-brand-primary: oklch(0.5444 0.2234 29.23);
  --color-brand-accent: oklch(0.3097 0.1643 263.46);
  --color-brand-highlight: oklch(0.9577 0.2066 108.26);
}
